/node_modules
/public/hot
/public/storage
/public/uploads
/public/contents
/uploads
/storage/laravel-backups
/storage/*.key
/vendor
/design
/vendor/composer/*.php
/.idea
/.vscode
/.history
/nbproject
/.vagrant
/Modules/Pos/node_modules
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
robots.txt
terminat
.env
.env.testing
/.phpunit.cache
.phpunit.result.cache
.rnd
composer.lock
yarn.lock
package-lock.json
/storage/fonts/*
!/storage/fonts/.gitkeep
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/.cursor
